doctype html
//
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
<html>
head
	title Max Ainatchi
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel="stylesheet" href="assets/css/main.css")
	noscript: link(rel="stylesheet" href="assets/css/noscript.css")
body.is-preload
	div#wrapper
		section#main
			header
				span.avatar: img(src="assets/images/avatar.jpg" alt="")
				h1: b Max Ainatchi
				h3: b: em Developer
				h3: b: em Student at NYU Tandon School of Engineering
				h1 Website coming soon...
			footer
				ul.icons
					li: a.fa-github(target="_blank" href="https://www.github.com/maxwellainatchi") Github
					li: a.fa-linkedin(target="_blank" href="https://www.linkedin.com/in/maxwell-ainatchi-72b82788/") LinkedIn
					li: a.fa-angellist(target="_blank" href="https://angel.co/maxwell-ainatchi") AngelList
				</ul>
			</footer>
		footer#footer
			ul.copyright
				li &copy; Nax Ainatchi
				li Design: #[a(href="http://html5up.net") HTML5 UP]

	// Scripts
	script(type="text/javascript").
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}
</html>
